body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

section.card {
  width: 75%;
  max-height: 1000px;
  background: gray;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: 2px solid black;
  transition: background .5s ease;
}

/*Card Animation*/

@-webkit-keyframes card {

  0% {
    opacity: .8;
    color: white;
  }

  100% {
    opacity: 1;
    color: black;
  }
}


section.card:hover {
  background: white;

  -webkit-animation-name: card;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: none;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running;
}

section.card:hover > ul{

  -webkit-animation-name: info;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}

section.card:hover > img{
  margin-left: 5%;
}

img.photo {
  border-radius: 100%;
  width: 25%;
  height: 25%;
  vertical-align: top;
  display: inline-block;
  margin-left: 35%;
  margin-top: 10%;
  border: 20px solid white;
  transition: margin-left 1s ease-out;
}

ul.info {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  opacity: 0;
}

/*Info Animation*/

@-webkit-keyframes info {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

li {
  vertical-align: middle;
}

p {
  display: inline-block;
  font-size: 1.25em;
  padding-top: 20px;
  padding-left: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;

}

.name1, .job1, .location1, .education1 {
  background-color: lightgray;
  width: 175px;
  height: 40px;
  -webkit-transition: width 1s;
  transition: width 1s ease-in-out, background-color 1s ease-in;
  border-left: 2px solid black;
}

.name1:hover, .job1:hover, .location1:hover, .education1:hover {
  width: 370px;
  background-color: red;
}

.name2, .job2, .location2, .education2 {
  position: absolute;
  right: 330px;
  color: white;
  width: 200px;
  font-weight: bold;
  padding-bottom: 17px;
  text-align: right;
  padding-right: 25px;
}

/*Mobile*/
@media (max-width:800px) {
  img.photo {
    display: block;
    margin-left: 130px;
    margin-right: auto;
    border: 5px solid white;
    }

  ul.info {
    width: 10px;
    margin-left: 120px;
  }

  li {
    margin-bottom: -100px;
  }

  .name1, .job1, .location1, .education1 {
    width: 250px;
    height: 40px;
    transition: opacity .5s ease;
    margin-left: -100px;
    padding-top: 20px;
    z-index: 1;
  }

  .name1:hover, .job1:hover, .location1:hover, .education1:hover {
    width: 250px;
    opacity: 0;
  }

  .name2, .job2, .location2, .education2 {
    color: white;
    background-color: red;
    opacity: 1;
    position: relative;
    left: -100px;
    bottom: 104px;
    text-align: left;
    font-weight: bold;
    width: 225px;
    height: 23px;
    border: 2px solid black;
    z-index: -1;
    vertical-align: center;
  }

  .name2:hover, .job2:hover, .location2:hover, .education2:hover {

  }



}
